// global variables coming from the parser...
// @brand-color
// @player-img
// @team-img

@base-text-color: hardlight(@brand-color, #fff);
@base-font-size: 350px;
@base-smaller-font: @base-font-size/5.5;
@base-space: @base-font-size/7;
@base-overlay-color: fadeout(@brand-color, 12%);

.player-card {
  .margin-top-base {
    margin-top: @base-space;
  }

  font-family: 'pluto sans condensed regular','Helvetica Neue',Helvetica,sans-serif;
  background-image: url('bg-player-template.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-clip: padding-box;
  background-size: cover;

  &>.overlay {
    background-color: @base-overlay-color;
    padding-bottom: @base-space;
    padding-top: @base-space;
  }

  .main-logo {
    display: inline-block;
    @media (max-width: 992px) {
      margin-bottom: @base-space;
    }
    @media (min-width: 992px) {
      float: left;
      margin-left: @base-space;
    }
  }

  .number {
    color: @base-text-color !important;
    font-size: @base-font-size;
    margin: -50px 0 0 0;
    line-height: 1;
    padding: 0;
  }

  .lastname {
    color: @base-text-color !important;
    font-size: @base-smaller-font;
  }

  .logos {
    @media (max-width: 992px) {
      margin-bottom: @base-space;
    }
    @media (min-width: 992px) {
      float: right;
      margin-right: @base-space;
    }
    .logo {
      width: 100px;
      height: 100px;
      overflow: hidden;
      text-align: center;
      background-repeat: no-repeat;
      background-position: center center;
      background-clip: padding-box;
      background-size: cover;
      display: inline-block;

      &.player {
        background-image: url(@player-img);
        border-radius: 100%;
        margin-right: 15px;
      }
      &.team {
        background-image: url(@team-img);
      }
    }
  }

}
